<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Hey! I am a coder who loves to always does "cool" things and wants to learn "cooler" things. I have to admit that I like working in Python.
		</p>
		<p>
			While not coding I might be watching cricket matches, gaming DotA online, playing flute or if I am really bored watching some movie or TV series.
		</p>
		<p>
			I am currently working with <a href="www.groupon.com">Groupon</a> in Chennai.
		</p>
		<p>
			<img src="https://secure.gravatar.com/avatar/1532488d461ac02eadf868565829b520" alt="Aayush Ahuja" title="Follow me on Twitter @aayushahuja" class="img-rounded floatLeft">Get in touch with me!!
		</p>
		<p>
			<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=hyades&amp;repo=hyades.github.com&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=hyades&amp;repo=hyades.github.com&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
		</p>
		<p>
			<a href="https://twitter.com/aayushahuja" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @aayushahuja</a>
		</p>
		<p>
			<!-- Place this tag where you want the +1 button to render. -->
		</p>
		<div class="g-plusone" data-size="small" data-annotation="none"></div><!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
		</script>
		<ul class="buttons unstyled">
			<li>
				<a href="http://github.com/hyades" rel="me" class="social github" title="Go to github.com/hyades" target="_blank"></a>
			</li>
			<li>
				<a href="http://www.linkedin.com/in/aayushahuja" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a>
			</li>
			<li>
				<a href="http://www.twitter.com/aayushahuja" rel="me" class="social twitter" title="Go to twitter.com/aayushahuja" target="_blank"></a>
			</li>
			<li>
				<a href="http://feeds.feedburner.com/github/hyades" rel="me" class="social rss" title="Go to feedburner hyades rss feed" target="_blank"></a>
			</li>
			<li>
				<a href="https://plus.google.com/107146873396010795552?rel=author" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a>
			</li>
			<li>
				<a href="https://github.com/hyades/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Aayush" target="_blank"></a>
			</li>
		</ul>
	</body>
</html>