<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{% if page.og_image %}/assets/images/{{ page.og_image }}{% else %}/assets/images/og-image.jpg{% endif %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{% if page.og_image %}/assets/images/{{ page.og_image }}{% else %}/assets/images/og-image.jpg{% endif %}">

  <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
  <link href="{{ site.url }}feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.blog_theme == "light" %}
    <link rel="stylesheet" href="{{ '/assets/stylesheets/light.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/stylesheets/dark.css' | relative_url }}">
  {% endif %}
</head>
